@{
    ViewData["Title"] = "AssignRoleToUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model List<AssignRoleToUserViewModel>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Kullanıcıya Rol Atama</h2>
        <form asp-action="AssignRoleToUser" method="post">
            

        </form>
        <div class="mt-3">
            <a asp-action="Index">Rol Listesine Geri Dön</a>
        </div>
    </div>
</div>
