
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-primary" asp-controller="Roles" asp-action="RoleCreate" asp-area="Admin">Rol Ekle</a>

<h1>Index</h1>

